<%= form_for(department_note) do |f| %>
  <% if department_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department_note.errors.count, "error") %> prohibited this department_note from being saved:</h2>

      <ul>
      <% department_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department_id %>
    <%= f.text_field :department_id %>
  </div>

  <div class="field">
    <%= f.label :note_id %>
    <%= f.text_field :note_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
