<%= form_for(character_scene) do |f| %>
  <% if character_scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character_scene.errors.count, "error") %> prohibited this character_scene from being saved:</h2>

      <ul>
      <% character_scene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_id %>
    <%= f.text_field :character_id %>
  </div>

  <div class="field">
    <%= f.label :scene_id %>
    <%= f.text_field :scene_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
