<p id="notice"><%= notice %></p>

<h1>Rehearsal Scenes</h1>

<table>
  <thead>
    <tr>
      <th>Rehearsal</th>
      <th>Scene</th>
      <th>Expected start</th>
      <th>Expected end</th>
      <th>Actual start</th>
      <th>Actual end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rehearsal_scenes.each do |rehearsal_scene| %>
      <tr>
        <td><%= rehearsal_scene.rehearsal %></td>
        <td><%= rehearsal_scene.scene %></td>
        <td><%= rehearsal_scene.expected_start %></td>
        <td><%= rehearsal_scene.expected_end %></td>
        <td><%= rehearsal_scene.actual_start %></td>
        <td><%= rehearsal_scene.actual_end %></td>
        <td><%= link_to 'Show', rehearsal_scene %></td>
        <td><%= link_to 'Edit', edit_rehearsal_scene_path(rehearsal_scene) %></td>
        <td><%= link_to 'Destroy', rehearsal_scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rehearsal Scene', new_rehearsal_scene_path %>
