<p id="notice"><%= notice %></p>

<p>
  <strong>Rehearsal:</strong>
  <%= @rehearsal_scene.rehearsal %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @rehearsal_scene.scene %>
</p>

<p>
  <strong>Expected start:</strong>
  <%= @rehearsal_scene.expected_start %>
</p>

<p>
  <strong>Expected end:</strong>
  <%= @rehearsal_scene.expected_end %>
</p>

<p>
  <strong>Actual start:</strong>
  <%= @rehearsal_scene.actual_start %>
</p>

<p>
  <strong>Actual end:</strong>
  <%= @rehearsal_scene.actual_end %>
</p>

<%= link_to 'Edit', edit_rehearsal_scene_path(@rehearsal_scene) %> |
<%= link_to 'Back', rehearsal_scenes_path %>
