<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @work.type %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @work.duration %>
</p>

<p>
  <strong>Break duration:</strong>
  <%= @work.break_duration %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
