<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @scene.number %>
</p>

<p>
  <strong>Production:</strong>
  <%= @scene.production %>
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
