<p id="notice"><%= notice %></p>

<h1>Crew Calls</h1>

<table>
  <thead>
    <tr>
      <th>Crew role</th>
      <th>Rehearsal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crew_calls.each do |crew_call| %>
      <tr>
        <td><%= crew_call.crew_role %></td>
        <td><%= crew_call.rehearsal %></td>
        <td><%= link_to 'Show', crew_call %></td>
        <td><%= link_to 'Edit', edit_crew_call_path(crew_call) %></td>
        <td><%= link_to 'Destroy', crew_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crew Call', new_crew_call_path %>
