<p id="notice"><%= notice %></p>

<p>
  <strong>Crew role:</strong>
  <%= @crew_call.crew_role %>
</p>

<p>
  <strong>Rehearsal:</strong>
  <%= @crew_call.rehearsal %>
</p>

<%= link_to 'Edit', edit_crew_call_path(@crew_call) %> |
<%= link_to 'Back', crew_calls_path %>
