<%= form_for(crew_role) do |f| %>
  <% if crew_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crew_role.errors.count, "error") %> prohibited this crew_role from being saved:</h2>

      <ul>
      <% crew_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %>
    <%= f.text_field :person_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
