<p id="notice"><%= notice %></p>

<h1>Crew Roles</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crew_roles.each do |crew_role| %>
      <tr>
        <td><%= crew_role.person %></td>
        <td><%= crew_role.title %></td>
        <td><%= link_to 'Show', crew_role %></td>
        <td><%= link_to 'Edit', edit_crew_role_path(crew_role) %></td>
        <td><%= link_to 'Destroy', crew_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crew Role', new_crew_role_path %>
