<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @crew_role.person %>
</p>

<p>
  <strong>Title:</strong>
  <%= @crew_role.title %>
</p>

<%= link_to 'Edit', edit_crew_role_path(@crew_role) %> |
<%= link_to 'Back', crew_roles_path %>
