<!DOCTYPE html>
<html ng-app="prospero">
  <head>
    <title>Prospero</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', controller_name, "data-turbolinks-track" => false %>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fullwidth">
      <div class="navbar-header">
        <div class="navbar-brand">PROSPERO
          <% if current_user %>
            • <%= current_user.person.production.title %>
          <% end %>
              </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">Schedules</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  <!--
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   -->
  <div class="content">
    <%= yield %>
  </div>
  </body>
</html>
